body
  background rgba(gray, 0.1)
  font-size 16px

h1
  color rgba(blue, 0.5)

p
  color gray
  background white

#root
  >div
    border-radius 4px
    box-shadow 0px 0px 5px gray
    margin 1em auto
    padding .5em
    width 30em
    transition 1s
    &:hover
      font-size 1.1em
